* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: Helvetica;
}

.header {
    height: 150px;
}

.nav {
    overflow: hidden;
    background-color: #0e79b8;
}

.nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 18px;
}

.nav .icon {
    display: none;
}

#active {
    text-decoration: underline;
    background-color: #015d92;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .db {
    font-size: 18px;
    border: none;
    outline: none;
    color: #ddd;
    padding: 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 18px;
    z-index: 1;
}

.content a {
    float: none;
    color: #000;
    text-decoration: none;
    display: block;
    text-align: left;
}

.icf {
   margin: 5px;
   width: 23%;
   display: inline-grid;
}

.icf img {
    width: 100%;
    height: auto;
}

.text {
    flex: 1;
}

.images {
    background-color: #eee;
}

.gallery {
    width: 100%;
    height: auto;
    /*border-top: solid #015d92 5px;*/
    transform: scale(.8);
    
}

.pos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}

.button {
    width: 300px;
    height: 50px;
    background-color: #015d92;
    color: #fff;
    font-family: Helvetica;
}

h1 {
    color: #01395a;
    font-family: Helvetica;     
    font-size: 75px;
    padding-left: 15px;
    padding-top: 30px;
}

.FHeader {
    color: #01395a;
    font-family: Helvetica;
    font-size: 25px;
}

.para {
    color: #01395a;
    font-family: Helvetica;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}

.whole {
    display: block;
    margin-top: 1px;
    margin-right: 1px;
}

.left {
    display: flex;
}

.aid {
    width: 50%;
    height: auto;
    flex: 50%;
    padding-top: 5px;
    padding-left: 5px;
}

.right {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
    background-color: rgba(228, 228, 228, 0.5);
    /*flex: 1;
    justify-content: flex-start;
    flex-direction: column;*/
    padding: 50px;
    border-left: solid #015d92 20px; 
}

i {
    padding: 10px;
}

.nav a:hover, .dropdown:hover .db {
    background-color: #015d92;
    color: #fff;
}

.content a:hover {
    background-color: #015d92;
}

.dropdown:hover .content {
    display: block;
}

.land:hover {
    background-color: #01395a;
}

.right:hover {
    background-color: rgba(228, 228, 228, 1);
    border-left: solid #015d92 50px;
}


@media screen and (max-width: 600px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

    .header {
        height: auto;
        padding-bottom: 15px;
    }

    .nav a, button {
        display: none;
    }
    
    .nav a.icon {
        float: right;
        display: block;
    }

    h1, h2 {
        font-size: 50px;
    }

    .FHeader {
        font-size: 25px;
        padding-left: 15px;
    }

    .icf {
        width: 100%;
    }

    .para {
        font-size: 18px;
    }

    .whole {
        display: block;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        padding-left: 15px;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {
        position: relative;
    }

    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav.responsive a {
        clear: both;
        float: none;
        display: block;
        text-align: left;
    }

    .nav.responsive .dropdown {
        float: none;
    }
    .nav.responsive .content {
        position: relative;
    }

    .nav.responsive .dropdown .db {
        display: block;
        width: 100%;
        text-align: left;
    }

    .first {
        display: block;
    }

    .FHeader {
        padding-top: 5px;
    }

    .text {
        padding-bottom: 15px;
    }

    .gallery {
        width: 100%;
    }

    .button {
        width: 25px;
        height: 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    
    h1, h2 {
        font-size: 25px;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .gallery {
        max-width: 100%;
    }

    .button {
        width: 25px;
        height: 10px;
    }

}